<h1>Editing paper</h1>

<%= form_for :paper, url: paper_path(@paper), method: :patch do |f| %>

    <% if @paper.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@paper.errors.count, 'error') %> prohibited
            this paper from being saved:
          </h2>
          <ul>
            <% @paper.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :venue %><br>
      <%= f.text_field :venue %>
    </p>

    <p>
      <%= f.label :year %><br>
      <%= f.text_field :year %>
    </p>

    <%= f.label 'Author 1', for: 'paper_author_id_1' %><br>
    <%= f.collection_select(:author1, Author.all, :id, :name, prompt: true) %><br>
    <%= f.label 'Author 2', for: 'paper_author_id_2' %><br>
    <%= f.collection_select(:author2, Author.all, :id, :name, prompt: true) %><br>
    <%= f.label 'Author 3', for: 'paper_author_id_3' %><br>
    <%= f.collection_select(:author3, Author.all, :id, :name, prompt: true) %><br>
    <%= f.label 'Author 4', for: 'paper_author_id_4' %><br>
    <%= f.collection_select(:author4, Author.all, :id, :name, prompt: true) %><br>
    <%= f.label 'Author 5', for: 'paper_author_id_5' %><br>
    <%= f.collection_select(:author5, Author.all, :id, :name, prompt: true) %>

    <p>
      <%= f.submit %>
    </p>

<% end %>

<%= link_to 'Back', papers_path %>